body{
    background:#fafafa;
}

.fiesta{
    color:red;
}
.dia {
    color:#014036;
}

.WeekType1{
    color: purple !important;
}

.WeekType2{
    color:green !important;
}
#divTabla{

    margin-top:10vh;
    margin-left: 2vw;
    grid-area: Calendario;
  
    width:fit-content;
    border-radius:12px;
}

 
.nombreMes{

 color:   #513469;
}
#btn_Year{
    color:#014036;
}
 


:root{
font-size: 48px;
font-family: Arial, Helvetica, sans-serif;
}
td{
    
    text-align: center;
    padding:0.2em;
}

.dia:hover{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
   /* padding: 20px;*/
    border-radius: 50px;
    /*display: inline-block;*/
    border: none;
    transition: all 0.4s ease 0s;

}


.fiesta:hover{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
   /* padding: 20px;*/
    border-radius: 50px;
    /*display: inline-block;*/
    border: none;
    transition: all 0.4s ease 0s;

    
}
#tabla{
    border:0px;
    border-spacing: 0px;
    border-collapse:collapse;
}



#botonera{
    text-align: center;
    color:#006d5b;
}

#botonera button:hover{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
   /* padding: 20px;*/
    border-radius: 50px;
    /*display: inline-block;*/
    border: none;
    transition: all 0.4s ease 0s;


}


.hoy{
    background:#fcf8e3;
    border-radius: 50px;
}

.hoy:hover{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc ;
   /* padding: 20px;*/
    border-radius: 50px;
    /*display: inline-block;*/
    border: none;
    transition: all 0.4s ease 0s;

}


.invisible{
    visibility: hidden;
height : 0px;
width:0px;
}

#fechaSelect{
    font-size: 16px;
}

.horario{

    grid-area: Horario;
}

.Container{


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px 40px;
    grid-template-areas:
      "Calendario Horario";

    

  
}




.Calendario { 
    grid-area: Calendario; }
.Horario {

     grid-area: Horario;
font-weight: bold;

margin-left: 4vw;



}


.tabla_horario{

    margin-top: 20vh;
    border:0px;
border-spacing: 0px;
border-collapse:collapse;
}



.tabla_horario td{
    padding: 0.9em;
    border:1px solid black;
}
.tabla_horario th{
    padding-bottom: 1.3em;
    padding-left: 0.3em;
    font-size:24px;
    border:1px solid black;

}

.Cliente{

    background-color: #60a3bc;

}
.Servidores{

    background-color: tomato;
}

.Diseño{
   background-color: springgreen;
}


.Empresa{
    background-color: tan;
}

.Inglés{

    background-color: thistle;
}

.Despliegue{

    background-color: saddlebrown;
    color:white;


}


.Titulo{

    text-align: center;
    font-weight: bold;
    font-size:54px;
}



@media only screen and (max-width: 600px) {
    .Container {
        margin:0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "Calendario"
          "Horario";
      }

      .Titulo{
          text-align: center;
       
      }



      #divTabla{
          font-size:1em !important;
      }

      #tabla{
         text-align: center;
      }
      #botonera{
        font-size:1.4em !important;

      }
      #decadaAnterior, #_yearAnterior,#_yearSiguiente,#decadaSiguiente, #mesSiguiente,#mesAnterior{
          font-size:1.4em !important;
          font-weight: bold;
          padding: 2px 4px;
      }
      table{
          margin-left:2vw;
        font-size:1.4em !important;
          padding:0;
      }
      .Horario{
        margin:0;
      }
      .tabla_horario{
          margin-top: 5vh;
      }
      .tabla_horario td{
          padding:2px !important;
          font-size: small;
      }
      .tabla_horario th{
        padding:0px !important;
        font-size: small;
    }
      #fechaSelect{
          display:none;
      }

      .d3d{
        font-size:12px !important; 

      }
  }