.fiesta{
    color:red;
}
.dia {
    color:#014036;
}

.WeekType1{
    color: purple !important;
}

.WeekType2{
    color:green !important;
}
#divTabla{
    grid-area: Calendario;
    background:#abd4eb;
    width:fit-content;
    border-radius:12px;
}

 
.nombreMes{

 color:   #513469;
}
#btn_Year{
    color:#014036;
}
 


:root{
font-size: 48px;
font-family: Arial, Helvetica, sans-serif;
}
td{
    
    text-align: center;
    padding:0.2em;
}

.dia:hover{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
   /* padding: 20px;*/
    border-radius: 50px;
    /*display: inline-block;*/
    border: none;
    transition: all 0.4s ease 0s;

}


.fiesta:hover{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
   /* padding: 20px;*/
    border-radius: 50px;
    /*display: inline-block;*/
    border: none;
    transition: all 0.4s ease 0s;

    
}
#tabla{
    border:0px;
    border-spacing: 0px;
    border-collapse:collapse;
}



#botonera{
    text-align: center;
    color:#006d5b;
}

#botonera button:hover{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
   /* padding: 20px;*/
    border-radius: 50px;
    /*display: inline-block;*/
    border: none;
    transition: all 0.4s ease 0s;


}


.hoy{
    background:#fcf8e3;
    border-radius: 50px;
}

.hoy:hover{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc ;
   /* padding: 20px;*/
    border-radius: 50px;
    /*display: inline-block;*/
    border: none;
    transition: all 0.4s ease 0s;

}


.invisible{
    visibility: hidden;
height : 0px;
width:0px;
}

#fechaSelect{
    font-size: 16px;
}

.horario{

    grid-area: Horario;
}

.Container{


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px 40px;
    grid-template-areas:
      "Calendario Horario";
  
}




.Calendario { grid-area: Calendario; }
.Horario { grid-area: Horario; }