h3 {
  font-size: 1.5rem;
}

.stopWatch-container {
  padding: 0 2rem;
  margin: 0 0 1rem;
  width: 450px;
}

.stopWatch {
  font-size: 46px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #eee;

  &__timer {
    margin-bottom: 1rem;
  }

}

.stopwatch-card {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  p {
    font-size: 2.75rem;
  }
}

.buttons {

  width: 100%;
  text-align: center;

  button {

    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out, opacity 0.2s ease-in-out;
    cursor: pointer;
    border: none;
    background: transparent;
    opacity: 0.5;

    &.prevButton {
      
      img {
        transform: rotate(180deg);
      }

    }

    &:hover {
      transform: scale(1.1);
      font-weight: bold;
      opacity: 1;
    }

  }

}

.currentTime {
  color: #666;
  font-weight: 400;
  font-size: 24px;
  
  &.inTime {
    color: rgb(0,180,0);
  }

  &.closeToEnd {
    color: orange;
    //animation: blink-animation 1s steps(10, start) infinite
  }

  &.overTime {
    color: rgba(180,0,0);
  }

}

@keyframes blink-animation {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes blink-animation {
  to {
    opacity: 0;
  }
}

.dark {

  .stopWatch {
    background-color: #222;
  }

  .buttons {

    img {
      filter: invert(100%);
    }

  }

}

@media all and ( max-width: 449px ) {
  .stopWatch-container {
    min-width: 360px;
    max-width: 360px;
  }
}

// @media (max-width: 340px) {
//   h3 {
//     font-size: 0.75rem;
//   }
//   .stopWatch {
//     font-size: 22px;
//     margin-bottom: 2rem;
//     padding: 2rem;
//     display: flex;
//     align-items: center;
//     flex-direction: column;

//     border: 2px solid red;
//     border-radius: 5%;
//     padding: 25px;
//   }

//   .stopwatch-card {
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     p {
//       font-size: 1.5rem;
//     }
//   }

//   .buttons {
//     button {
//       font-size: 0.75rem;
//       padding: 5px;
//       margin: 1vh 2vw;
//       color: white;
//       &:hover {
//         transform: scale(1.1);
//         font-weight: bold;
//       }
//     }
//     .nextButton {
//       font-size: 0.75rem;
//       border: none;
//       background-color: rgb(63, 63, 63);
//     }
//     .prevButton {
//       font-size: 0.75rem;
//       border: none;

//       background-color: rgb(63, 63, 63);
//     }
//   }
// }
