.pdContainer{

    margin:1vw 5vh;
    margin-bottom: 3vh;
    width: 80vw;
    font-size: 24px;
    font-weight: 300;
}
.pdContent{
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 1rem;
}
.pdAuthor{
    text-align: right;
    font-weight: 600;
    font-size: 1rem;
}


@media (max-width: 1200px) {

    .pdContainer{

        margin:-1vw 5vh;
        margin-bottom: 3vh;
        width: 80vw;
        font-size: 24px;
        font-weight: 300;
    }
    
    
}
