* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  background: #000;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #252525;
  min-width: 1030px;
}

input {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

input::-webkit-input-placeholder {
  color: #eee;
}

input:-ms-input-placeholder {
  color: #eee;
}

input::-ms-input-placeholder {
  color: #eee;
}

input::placeholder {
  color: #eee;
}

textarea {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

select {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.notext {
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
  display: block;
}

a {
  color: #9d5f0e;
  text-decoration: underline;
  cursor: pointer;
}

a img {
  border: 0;
}

a:hover {
  text-decoration: none;
}

.left {
  float: left;
  display: inline;
}

.alignleft {
  float: left;
  display: inline;
}

.right {
  float: right;
  display: inline;
}

.alignright {
  float: right;
  display: inline;
}

.cl {
  font-size: 0;
  line-height: 0;
  clear: both;
  display: block;
  height: 0;
}

.al {
  text-align: left;
}

.ar {
  text-align: right;
}

.ac {
  text-align: center;
}

h2 {
  font-size: 34px;
  line-height: 34px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

h2 span {
  color: #f4d359;
}

h3 {
  font-size: 22px;
  line-height: 24px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

#navigation {
  font-family: "Trebuchet MS", Arial, sans-serif;
  float: right;
}

#navigation ul {
  float: left;
  list-style-type: none;
  padding-top: 37px;
  font-size: 14px;
}

#navigation ul li {
  float: left;
  display: inline;
  height: 21px;
  background: url(images/nav-border.gif) repeat-y right 0;
  padding: 0 20px 0 0;
  margin-right: 20px;
  position: relative;
}

#navigation ul li a {
  float: left;
  color: #fff;
  text-decoration: none;
}

#navigation ul li a em {
  width: 90px;
  height: 20px;
  background: url(images/nav-hover.gif) no-repeat 0 -200px;
  position: absolute;
  top: 33px;
  left: -55px;
}

#navigation ul li a span {
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
}

#navigation ul li a.hover {
  color: #f6cb44;
}

#navigation ul li a.hover em {
  background-position: 0 0;
}

#navigation ul li.last {
  background: transparent;
  padding-right: 0;
  margin-right: 0;
}

#navigation ul li.last a em {
  left: -45px;
}

#slider-navigation {
  font-family: "Trebuchet MS", Arial, sans-serif;
  height: 67px;
  background: url(images/slider-nav.gif);
}

#slider-navigation ul {
  list-style-type: none;
  position: relative;
  width: 1003px;
  margin-right: -23px;
  height: 67px;
}

#slider-navigation ul li {
  float: left;
  display: inline;
  position: relative;
  margin: -35px 95px -22px 0;
}

#slider-navigation ul li a {
  float: left;
  width: 171px;
  height: 79px;
  background: url(images/slide-button.png) no-repeat 0 0;
  position: relative;
  left: -10px;
  color: #686767;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  padding: 45px 0 0 100px;
}

#slider-navigation ul li a strong {
  display: block;
  font-size: 23px;
  line-height: 23px;
  color: #fff;
}

#slider-navigation ul li a em {
  position: absolute;
  top: 43px;
  left: 20px;
}

#slider-navigation ul li a em.ico {
  width: 100px;
  height: 100px;
  background: url(images/ico.webp);
  left: 28px;
}

#slider-navigation ul li a em.ico2 {
  width: 41px;
  height: 61px;
  background: url(images/ico2.png);
  left: 36px;
}

#slider-navigation ul li a em.ico3 {
  width: 71px;
  height: 64px;
  background: url(images/ico3.png);
}

#slider-navigation ul li a:hover {
  background: url(images/slide-button-active.png);
  color: #a6a6a6;
}

#slider-navigation ul li a:hover strong {
  color: #000;
}

#slider-navigation ul li a.active {
  background: url(images/slide-button-active.png);
  color: #a6a6a6;
}

#slider-navigation ul li a.active strong {
  color: #000;
}

#slider-navigation ul li.last {
  margin-right: 0;
}

#footer {
  font-family: "Trebuchet MS", Arial, sans-serif;
  height: 92px;
  background: url(images/footer.gif);
  color: #6d6d6d;
}

#footer .shell {
  padding-top: 28px;
}

#footer .right {
  white-space: nowrap;
  font-size: 14px;
  text-align: right;
}

#footer .right span {
  padding: 0 1px;
}

#footer .right a {
  text-decoration: none;
  color: #939393;
}

#footer .right a:hover {
  color: #f6cb44;
}

h1#logo {
  font-size: 0;
  line-height: 0;
  width: 216px;
  height: 90px;
  float: left;
}

h1#logo a {
  display: block;
  height: 90px;
  text-indent: -4000px;
  background: url(images/logo1.png);
  background-size: 90px;
  background-repeat: no-repeat;
}

.shell {
  width: 980px;
  margin: 0 auto;
}

#header {
  height: 90px;
  background: url(images/header.gif);
}

#slider {
  height: 298px;
  background: url(images/slider.gif);
}

.slides {
  width: 980px;
  height: 298px;
  position: relative;
  overflow: hidden;
  color: #b6b6b6;
}

.slides .jcarousel-clip {
  width: 980px;
  height: 298px;
  position: relative;
  overflow: hidden;
}

.slides ul {
  width: 980px;
  height: 298px;
  position: relative;
  overflow: hidden;
  list-style-type: none;
}

.slides ul li {
  float: left;
  display: inline;
  width: 980px;
  height: 260px;
  position: relative;
  overflow: hidden;
  padding-top: 38px;
}

.slide-info {
  float: left;
  width: 720px;
  padding-top: 20px;
}

.slide-info h2 {
  padding-bottom: 20px;
}

.slide-info p {
  padding-bottom: 15px;
}

.slide-image {
  float: right;
  width: 219px;
  height: 240px;
}

.image1 {
  background: url(images/descargar.jfif);
}

.image2 {
  background: url(images/OIP.jfif);
}

.image3 {
  background: url(images/OI.jfif);
}

#main {
  width: 100%;
  background: #d3d4ce;
  padding: 50px 0;
}

#main h3 {
  padding-bottom: 10px;
}

#main p {
  padding-bottom: 15px;
}

a.more {
  font-size: 10px;
  background: url(images/more.gif) no-repeat 0 center;
  padding-left: 10px;
}

.col {
  float: left;
  width: 250px;
  margin-right: 115px;
}

.col-last {
  margin-right: 0;
}

.footer-logo {
  float: left;
  width: 169px;
  height: 34px;
  background: url(images/footer-logo.gif);
}

.DisplayAdopcion {
  width: 100vw;
  display: block !important;
}

.CabeceraAdopcion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0px 0px;
}

.cabeceraAdopcionIzq {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cabeceraAdopcionIzq * {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.cabeceraAdopcionDer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cabeceraAdopcionDer * {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  width: 20px;
  height: 20px;
}

.imgAdopt {
  display: block;
  margin: auto;
  margin-bottom: 10vh;
}

#TituloAdop {
  text-align: center;
  font-size: 64px;
  margin-bottom: 15vh;
}

.contenidoAdopt {
  text-align: center;
}

.contenidoAdopt ol {
  list-style-type: none;
}

.TarjetasAdopcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AdoptCard {
  margin-top: 10vh;
  margin-left: 25vw;
}

.AdoptCard img {
  float: left;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.cardTitle {
  margin-left: 10vw;
}

.cardContent {
  text-align: center;
  margin-left: 10vw;
  width: 50%;
}

.cardContent a {
  padding: 10px !important;
  text-decoration: none;
  background-color: grey;
  color: white;
  border-radius: 10%;
}

.AdoptCardForm {
  font-size: 36px !important;
  height: 100vh;
}

.AdoptCardForm h3 {
  font-size: 64px !important;
  margin-top: 15vh;
  margin-left: 20vw;
}

.AdoptCardForm img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  float: left;
}

.formularioAdopt {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding-top: 20px;
  margin-top: 15vh !important;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formularioAdopt input {
  padding-top: 2vh;
  display: inline;
  padding: 5px;
  margin-bottom: 30px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #eee;
  font-size: 32px !important;
}

.formularioAdopt input[type=submit] {
  font-size: large;
  padding: 10px 5px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background: grey;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}

.formularioAdopt label {
  padding: 2vh;
  display: inline;
}

button {
  width: 100%;
}

button:hover {
  background: #85d6de;
}

.btn-item:hover {
  background: #85d6de;
}
/*# sourceMappingURL=style.css.map */