$primary-color: rgb(63, 62, 62);
$animation-duration: 0.4s;
.active {
  background-color: rgb(63, 62, 62);
  color: white;
}

.listContainer {
  list-style-type: none;
  font-size: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vw;
  font-style: normal;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.listItem {
  text-align: center;
  margin-right: 5vw;
  width: 7ch;
  margin: 0;
  &:hover{
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .listContainer {
    list-style-type: none;
    font-size: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75vw;
  }
}

@media (max-width: 557px) {
  .listContainer {
    list-style-type: none;
    font-size: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    margin-left: 25vw;
  }
}

@media (max-width: 360px) {
  .listContainer {
    list-style-type: none;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    margin-left: 0vw;
  }
}

.form-field {
  display: block;
  margin-bottom: 16px;

  &--is-active {
    .form-field__control {
      &::after {
        border-bottom: 2px solid rgb(63, 62, 62);
        transform: scaleX(150);
      }
    }
  }
}

.form-field__control {
  background: #eee;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-right: 1vw;
  margin-left: 1vw;

  &::after {
    border-bottom: 2px solid $primary-color;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transition: all $animation-duration;
    width: 1%;
  }
}
.form-field__input,
.form-field__textarea {
  appearance: none;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #999;
  color: #333;
  display: block;
  font-size: 26px;
  outline: 0;
  padding: 0 12px 10px 12px;
  width: 100%;
}

.inputMember {
  width: 12ch;
  display: flex;
  flex-direction: row;
  .addMember {
    width: 3ch;
    height: 3ch;
    z-index: 2;
    border-radius: 10px;
    font-size: 26px;
    text-align: center;
    border:none;
    background-color: rgb(96, 155, 96);

    color: white;
    &:hover {
      transform: scale(1.1);
      font-weight: bold;
    }
  }
}
