.active {
  background-color: rgb(63, 62, 62);
  color:white;
}

.listContainer {
  list-style-type: none;
  font-size: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vw;
  font-style: normal;
  padding: 0 2rem;
  margin-bottom: 2rem;

}

.listItem {
  text-align: center;
  margin-right: 5vw;
  width: 7ch;
  margin: 0;
  
}

@media (max-width: 1200px) {
  .listContainer {
    list-style-type: none;
    font-size: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75vw;
  }

}


@media (max-width: 557px) {
    .listContainer {
      list-style-type: none;
      font-size: 36px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100vw;
      margin-left: 25vw;
    }
  
  }

  @media (max-width: 360px) {
    .listContainer {
      list-style-type: none;
      font-size: 22px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100vw;
      margin-left: 0vw;

    }
  
  }
