*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-color:#f3f5f0;
  color: rgb(49, 49, 49);
  
}
.App{
  padding: 1%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul{
  list-style-type: none;
  font-size: 28px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5vh;
  text-align: center;
  font-style: italic;
}

li{
  margin: 1vh 2vw;
  text-align: center;
}