* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}
.App {
  position: relative;
  display: flex;
  padding: 1rem 0 0;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  background-color: white;
  color: #313131;

  .themeSwitcher {
    position: absolute;
    width: 16px;
    z-index: 2;
    right: 50%;
    transform: translateX(180px);
    top: 2rem;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    img {
      display: block;
      width: 100%;
    }

    &:hover,
    &:active,
    &:focus {
      opacity: 1;
    }

  }

  &.dark {
    background-color: black;
    color: #cecece;

    .themeSwitcher {
      filter: invert(100%);
    }

    .generate-members {
      &__button {
        background-color: #c0c1c1;
        border: 2px solid #c0c1c1;
        color: black;

        &:hover,
        &:active,
        &:focus {
          background-color: black;
          color: #c0c1c1;
        }
      }
    }

    .memberFlag {
      &Icon[data-status="0"] {
        background-color: #333;
      }
    }
  }
}

ul {
  list-style-type: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-style: italic;
  list-style-type: decimal;
  display: block;
}

li {
  margin: 1vh 2vw;
  text-align: left;
}

.daily-script,
.memberList {
  padding: 0 2rem;
}

.memberList {
  width: 450px;
}

.daily-script {
  margin: 0 0 1rem;

  &__list {
    padding-left: 1rem;
  }
}

.generate-members {
  width: 100%;
  margin: 0 0 1rem;

  &__button {
    width: 100%;
    padding: 0.5rem 2rem;
    background-color: rgb(63, 62, 62);
    border: 2px solid rgb(63, 62, 62);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover,
    &:active,
    &:focus {
      background-color: white;
      color: rgb(63, 62, 62);
    }
  }
}

.members-title {
  display: inline-block;
  margin-bottom: 1rem;
  width: 85%;
}

.memberName,
.memberTime,
.memberTime > span,
.memberFlag,
.memberFlagIcon,
.resetDailyTime {
  display: inline-block;
  height: 19px;
  vertical-align: middle;
}

.memberName {
  width: 60%;
  cursor: pointer;
}

.memberTime {

  float: right;

  &.empty {
    color: #ddd;
  }

}

.memberFlag {

  &Icon {
    display: block;
    width: 19px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;

    &[data-status="1"] {
      background-color: rgb(0,180,0);
    }

    &[data-status="2"] {
      background-color: orange;
    }

    &[data-status="3"] {
      background-color: rgb(180,0,0);
    }

  }

}

.resetDailyTime {
  cursor: pointer;
  border: none;
  background: transparent;
  margin-right: 10px;
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;

  img {
    max-height: 19px;
  }

  &:hover {
    transform: scale(1.1);
    font-weight: bold;
  }
}

.editButton {
  display: inline-block;
  padding: 4px 5px;
  width: 15%;
  vertical-align: top;
  background-color: rgb(63, 62, 62);
  border: 2px solid rgb(63, 62, 62);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    background-color: white;
    color: rgb(63, 62, 62);
  }
}

@media all and (max-width: 449px) {
  .daily-script,
  .memberList {
    min-width: 360px;
    max-width: 360px;
  }

  .App .themeSwitcher {
    transform: translateX(130px);
  }
}

.inputMember {
  width: 24ch;
  display: flex;
  flex-direction: row;
  display: block;
  width: 100%;
  margin: 0 0 1rem;
  border: none;

  .addMember,
  .form-field__input {
    vertical-align: top;
  }

  .addMember {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
    font-size: 26px;
    text-align: center;
    padding: 0 0 5px;
    border: none;
    background-color: #69bf00;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
      font-weight: bold;
    }

  }

}

.form-field {
    
  &__control {

    background-color: #222;

    .form-field__input,
    .form-field__textarea {
      border-bottom: 1px solid #666;
      color: #ddd;
    }

  }

}