* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}
.App {
  display: flex;
  padding: 1rem 0 0;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  background-color: white;
  color: #313131;

  &.dark {
    background-color: black;
    color: #cecece;

    .generate-members {
      &__button {
        background-color: #c0c1c1;
        border: 2px solid #c0c1c1;
        color: black;

        &:hover,
        &:active,
        &:focus {
          background-color: black;
          color: #c0c1c1;
        }
      }
    }
  }
}

ul {
  list-style-type: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-style: italic;
  list-style-type: decimal;
  display: block;
}

li {
  margin: 1vh 2vw;
  text-align: left;
}

.daily-script,
.generate-members {
  padding: 0 2rem;
}

.daily-script {
  margin: 0 0 1rem;

  &__list {
    padding-left: 1rem;
  }
}

.generate-members {
  width: 100%;
  margin: 0 0 2rem;

  &__button {
    width: 100%;
    padding: 0.5rem 2rem;
    background-color: rgb(63, 62, 62);
    border: 2px solid rgb(63, 62, 62);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover,
    &:active,
    &:focus {
      background-color: white;
      color: rgb(63, 62, 62);
    }
  }
}

.members-title {
  display: inline-block;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.memberName,
.memberTime {
  display: inline-block;
}

.memberName {
  width: 50%;
}

.memberTime {

  float: right;

  &.empty {
    color: #ddd;
  }

}

.resetDailyTime {
  cursor: pointer;
  border: none;
  background: transparent;
  margin-right: 10px;
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;

  img {
    max-height: 18px;
  }

  &:hover {
    transform: scale(1.1);
    font-weight: bold;
  }
}

.editButton {
  display: inline-block;
  padding: 0 5px;


  background-color: rgb(63, 62, 62);
  border: 2px solid rgb(63, 62, 62);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    background-color: white;
    color: rgb(63, 62, 62);
  }
}

@media all and (max-width: 449px) {
  .daily-script,
  .generate-members {
    min-width: 360px;
    max-width: 360px;
  }
}

.inputMember {
  width: 24ch;
  display: flex;
  flex-direction: row;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0.25rem  2.25rem 0;
  border: none;

  .addMember,
  .form-field__input {
    vertical-align: top;
  }

  .addMember {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
    font-size: 26px;
    text-align: center;
    padding: 0 0 5px;
    border: none;
    background-color: #69bf00;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
      font-weight: bold;
    }

  }

}

.form-field {
    
  &__control {

    background-color: #222;

    .form-field__input,
    .form-field__textarea {
      border-bottom: 1px solid #666;
      color: #ddd;
    }

  }

}